model_config_list {
    config {
        name: 'plant_leaf_disease_models'  # Model name
        base_path: '/plant-leaf-disease/saved_models'  # Path to models directory
        model_platform: 'tensorflow'  # TensorFlow model type
        model_version_policy: {all: {}}  # Use all available model versions (1, 2, 3, etc.)
    }
}